// Define variables for your color scheme

// For example:
$yellow: #FFC371;
$pink: #FF5F6D;
$dark: #4b453d;
$darker: #35312c;
$grey: #61594f;
$light-grey: #877c6f;

$red: #b90a0aea;
$green: #1e6042cf;
$beige: #ECD4BC;
$blue: #1d5b78cf;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
