.navbar {
  width: 100%;
  background: $darker;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 16px;

  i {
    color:$beige;
    font-size: 24px;
  }
  a:hover i {
    opacity: 0.6;
  }
}
